body {
    font-family: 'JetBrains Mono Variable', monospace;
  }

  body {
    --sb-track-color: #1D0E49;
    --sb-thumb-color: #ffffff;
    --sb-size: 11px;
  }
  
  body::-webkit-scrollbar {
    width: var(--sb-size)
  }
  
  body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 0px;
  }
  
  body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 5px;
  }